.nav-wrapper {
    background-color: palevioletred;
}

div.col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
    padding-top: 15px;
}

.parallax-container {
    height: 60vh;
}

.parallax-container .parallax img {
    bottom: -15%;

}

#band {
    text-color: white;
}